*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family:Lato;
}
.top-bar{
	background-color:#cc9933;
	padding-top: 20px;
	
}
.top-bar img{
	padding:10px;
}
.category ul li{
	display:flex;
}
.category1 ul {
 display:flex;
}
.top-bar.columns{
	margin-top:10px; 
}
.top-bar-icon span{
 float: left;
 padding: 10px;
 display: flex;
 font-size:14px; 
}
footer{
	background-color:#cc9933!important;
}
footer ul li a{
	text-decoration: none;
}
footer .links li a:hover{
	border: 2px solid #000;
    background-color:#000;  
}
footer .links li {
	padding: 5px;
    border-bottom: 1px solid #99cccc;
}
.box{ width: 40px;
	 color:#fff;
     background-color:#009999!important;
      border: 3px solid #009999;     
}
.box1{
	color:#fff;
	background-color:#cc0033!important;
}
.box2{ width: 40px;
	 color:#fff;
     background-color:#000066!important;     
}
.box3{ width: 40px;
	 color:#fff;
     background-color:#660066!important;     
}
.box4{
	 background-color:#000066!important;   
}
#gallery img {
	width:106%!important;
    height:206px;
    border: 1px solid #009999;
    margin-left: -15px;

}
.gallery img{
	width: 110%!important;
} 
.gallery{
	margin:20px; 
	padding:31px;
}
#gallery2{
	width: 110%!important;
}
.navbar.bg-dark {
    background-color: #000000!important;

}
.navbar.bg-dark ul li a{
   color:#fff!important; 
}
.navbar a:hover{
	background-color:#cc9933;

}
.navbar a:active {
  color: blue;
}
.trophy{
	margin-top:10px;
}
.trophy2{
	margin-top:-4px; 
}
.user2{
	margin-top:8px;
}
 .box4{
 	background-color:#ff6600!important;
 	color:#fff; 
 }
 .explore{
 	text-decoration: none;
 	color: #fff;

 }
 .explore:hover{
 	text-decoration: underline;
 	color:#000 ;
 	
 }
 .explore{
 	text-decoration: none;
 	color: #fff;
 }
 .explore:hover{
 	text-decoration: underline;
 	color:#000 ;
 	
 }
 
